<p>Hello app</p>
<form id="form-messages">
    <input id="input-messages" type="text" placeholder="Escribe un mensaje" required>
    <input type="submit" value="Enviar">
</form>
<h3>Mensajes</h3>
<di id="log-messages">

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>